.c-card {
  width: 250px;
  background-color: #9edef9;
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 13px;
}

.c-card__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-card__name {
}

.c-card__name::first-letter {
  text-transform: capitalize;
}
